.main-div{
    text-align: center;
}
.form{
    
    margin-top: 100px;
    border: 1px solid red;
    width: 250px;
    height: auto;
    margin-left: 350px;
    padding: 50px;
    border-radius: 5px;
}